#about {
    height: 230px;
    border-radius: 10px;
}

.cart-btn {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    align-content: center;
}

.cart-btn:hover {
    background-color: rgb(228, 117, 5);
}